
:root{
    --font-texte: "Inter", sans-serif;
    --font-title: "Crimson Pro", serif;
}

.h2{
    background-image: linear-gradient(
        to bottom right,
        #fd7e14,
        #6610f2,
        #0d6efd
    );
    font-family: var(--font-title);
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}