body {
    --font-texte: "Inter", sans-serif;
    --font-title: "Crimson Pro", serif;
    background: #f5f7fa;
    padding: 40px;
    text-align: center;
}

#h1{
    background: linear-gradient(
        to bottom right,
        #fd7e14,
        #6610f2,
        #0d6efd
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: var(--font-title);
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}

.p{
    font-family: var(--font-texte);
    font-size: 1.25rem;
    line-height: 1.5;
}

button:hover {
    background: #1a68d1;
}

.hidden {
    display: none;
}

#teamSection {
    margin-top: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);

    opacity: 0;
    transform: translateY(30px);
}
